body {
    font-family: 'Poppins', sans-serif;
    background: rgb(224,184,50);
    background: linear-gradient(307deg, rgba(224,184,50,1) 0%, rgba(39,125,19,1) 25%, rgba(237,230,189,1) 50%, rgba(39,125,19,1) 75%, rgba(224,184,50,1) 100%);
  }

  .container {
    background-image: url(img/tent.png);
    background-size: cover;
  }
  
  h1,p {
    text-align: center;
  }
  
  div.form {
    display: block;
    text-align: center;
    width: 95%;
    max-width: 900px;
    margin: auto;
  }
  
  form {
    background-color: hsla(79, 48%, 48%, 0.95);
    width: 80%;
    margin: 0 auto;
    text-align: left;
    border-radius: 9px;
    font-size: 18px;
  }

  #title {
    padding: 30px 0; 
    margin-bottom: 0;
  }

  #description {
    padding: 15px 0;
  }
  
  label {
    display: block;
    padding: 3px;
    font-weight: bold;
  }
  
  input {
    background-color: rgba(237,230,189,1);
    color: black;
    display: block;
    font-size: 18px;
    width: 80%;
  }
  
  .inline {
    display: inline;
    width: unset;
    margin: auto;
    vertical-align: middle;
    padding: 2px;
  }
  
  fieldset {
    border: none;
  }
  
  input[type=submit] {
    width: 100%;
    padding: 20px;
    margin: 1em auto;
  }
  
  textarea {
    margin: 0.4em auto;
    background-color: rgba(237,230,189,1);
  }
  
  h1, p, footer {
    background-color: rgba(237,230,189,1);
    width: 80%;
    text-align: center;
    display: inline-block;
    border-radius: 9px;
  }
  
  select {
    background-color: rgba(237,230,189,1); 
  }
  
  legend {
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type=radio] {
    margin: 0 2px 0 30px;
    }
  
  input[type=checkbox] {
    margin: 0 2px 0 30px;
  }

  #credit {
    background-color: transparent;
    width: 100%;
  }